@page
@model UiS.Dat240.Lab2.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<h1 class="display-4">Admin </h1>
<h2 class="display-6">Table of items</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cooktime</th>
            <th>Price</th>
            <th><button>Edit</button></th>
        </tr>
    </thead>

</table>
</br>
<h2 class="display-6">Add items</h1>
<table class="table">
<form name="foodItem" method="POST">
    <label for="fname">Name:</label>
    <input for="fname" type="text" name="Name">
    <label for="fdescription">Description:</label>
    <input for="fdescription" type="text" name="Description">
    <label for="fprice">Price:</label>
    <input for="fprice" type="number" step="0.01" name="Price">
    <label for="ftime">CookTime:</label>
    <input for="ftime" type="text" name="Cooktime">
    <button>Submit</button>

</form>
</table>
